



footer{
    background: #4f2479;
}
.footer__items{
    font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #e1fd2c;
    list-style: none;
}
.footer__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

